@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quattrocento+Sans:wght@700&display=swap');
@import url('./_variables.scss');


* {
    box-sizing: border-box;
}



.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-wrap: wrap;
    [class*="col-"] {
        padding-left: 15px;
        padding-right: 15px;
    }    
}

.header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    background-color: #1d2126;
    padding: 25px 0px;
    position: sticky;
    top: 0;
    z-index: 20;
    .row {
        display: flex;
        align-items: center;
    }
    .menu {
        display: flex;
        height: 30px;
        li {
            border-radius: 2px;
            margin-left: 11px;
            text-transform: uppercase;
            &:first-child {
                margin-left: 0;
            }
            &:hover {
                border: 2px solid #5b6168;
                display: inline;
            }
            a {
                text-align: center;
                display: block;
                line-height: 30px;
                text-decoration: none;
                color: #a4aead;
            }
        }
    }
    .header-form-search {
        display: flex;
        border: 2px solid #3c4147;
        border-radius: 2px;
        height: 30px;
        padding: 5px;
        input {
            background-color: transparent;
            border: none;
            width: 76.3158%;
            margin-right: 10px;
            padding: 0;
            &::placeholder {
                color: #a4aead;
                text-transform: uppercase;
            }
            &:focus {
                outline: none;
                color: #a4aead;
            }
        }
        button {
            background-image: url("images-blog(modest)/magnifying-glass.png");
            border: none;
            background-position: center;
            background-repeat: no-repeat;
            background-color: transparent;
            width: 15px;
            height: 12px;
            margin-top: 2px;
            margin-left: -5px;
            cursor: pointer;
        }
    }
}

.main {
    font-family: 'Quattrocento Sans', sans-serif;
    .banner {
        background-image: url("images-blog(modest)/slider.png");
        background-repeat: no-repeat;
        .content {
            padding-top: 225px;
            padding-bottom: 250px;
            .title {
                margin-bottom: 33px;
                color: #ffffff;
                h2 {
                    border: none;
                    padding: 0;
                }
            }
            .paragraph {
                color:  #ccd0d7;
                margin-bottom: 40px;
            }
            button {
                color: #ffffff;
                font-size: 14px;
                width: 120px;
                height: 40px;
                border-radius: 3px;
                background-color: rgba(222,180,180,0);
                border: 2px solid #ffffff;
                cursor: pointer;
                &:first-child {
                    margin-right: 11px;
                }
                &:hover {
                    background-color: #23b7a4;
                    border: 2px solid #23b7a4;
                }
            }
        }
    }
    .title {
        text-transform: uppercase;
        font-size: 36px;
        margin-bottom: 65px;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }
    .about-company {
        padding-top: 86px;
        padding-bottom: 100px;
        border-bottom: 1px solid #dde1e4;
        .content {
            .title {
                color: #292f36;
            }
            .paragraph {
                color: #8d8f92;
                p:last-child {
                margin-top: 40px;
                margin-bottom: 50px;
                }
                span {
                    font-weight: 600;
                }
            }
            .social-links {
                display: flex;
                .link {
                    margin-right: 1px;
                    div {
                        background-color: #c8cdd0;
                        width: 60px;
                        height: 60px;
                        &:hover {
                            background-color: #c8cdd0d2;
                        }
                    }
                    .facebook {
                        background-image: url('images-blog(modest)/facebook.png');
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    .twitter {
                        background-image: url('images-blog(modest)/twitter.png');
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    .google {
                        background-image: url('images-blog(modest)/google.png');
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    .dribbble {
                        background-image: url('images-blog(modest)/dribbble.png');
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    .behance {
                        background-image: url('images-blog(modest)/behance.png');
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
            .numbers {
                margin-top: 105px;
                div {
                    width: 50px;
                    height: 50px;
                    background-color: #23b7a4;
                    line-height: 50px;
                    text-align: center;
                    color: rgba(255, 255, 255);
                }
            }
            .cnt {
                margin-top: 103px;
                .cnt-1 {
                    margin-bottom: 25px;
                    h3 {
                        margin-bottom: 17px;
                        text-transform: uppercase;
                        color: #292f36;
                    }
                    p {
                        color: #989a9d;
                    }
                }
            }
            .row {
                margin-bottom: -90px;
            }
        }
    }
    .team-members {
        padding-top: 86px;
        padding-bottom: 100px;
        .team-representative {
            &:hover .employee {
                background-color: #3a454d;
            }
            &:hover .employee>div {
                color: #ffffff;
            }
            &:hover .photo {
                opacity: 80%;
            }
            &:hover .social-links>.link {
                display: block;
                margin-top: -51px;
            }
            .photo {
                display: flex;
                justify-content: center;
                img {
                    max-width: 100%;
                }
            }
            .employee {
                background-color: #e1e6ea;
                height: 74px;
                padding: 20px 0px 20px 20px;
                margin: 0 auto;
                .name {
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    font-size: 16px;
                    color: #292f36;
                }
                .position {
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    color: #8d8f92;
                }
            }
            .social-links {
                display: flex;
                justify-content: center;
                .link {
                    margin-right: 1px;
                    position: relative;
                    top: 175px;
                    z-index: 10;
                    display: none;
                    div {
                        background-color: #3a454d;
                        z-index: 20;
                        display: block;
                        width: 50px;
                        height: 50px;
                        &:hover {
                            background-color: #4e5a62;
                        }
                    }
                    .twitter {
                        background-image: url('images-blog(modest)/twitter.png');
                    }
                    .facebook {
                        background-image: url('images-blog(modest)/facebook.png');
                    }
                    .linkedin {
                        background-image: url('images-blog(modest)/linkedin.png');
                    }
                }
            }
        }
    }
    .work {
        background-color: #3a454d;
        padding-top: 86px;
        padding-bottom: 60px;
        display: flex;
        flex-wrap: wrap;
        .title {
            color: #ffffff;
            h2 {
                border-left: 10px solid #4e5a62;
            }
        }
        .portfolio-item {
            height: 265px;
            margin-bottom: 30px;
            cursor: pointer;
            .portfolio-item-1 {
                img {
                    max-width: 100%;
                }
            }
            &:hover .portfolio-item-1 {
                opacity: 70%;
            }
            &:hover .plus {
                display: block
            }
            &:hover .title-photo {
                display: block;
            }
            &:hover {
                margin-top: -20px;
            }
            .plus {
                background-image: url('images-blog(modest)/plus.png');
                background-repeat: no-repeat;
                background-position: center;
                height: 20px;
                position: relative;
                top: 113px;
                z-index: 10;
                display: none;
            }
            .title-photo {
                color:#ffffff;
                font-size: 18px;
                text-transform: uppercase;
                max-width: 100%;
                height: 60px;
                background-color: #292f36;
                position: relative;
                top: -60px;
                display: none;
                h3 {
                    padding-top: 25px;
                    padding-left: 20px;
                }
            }
        }
        .btn {
            display: flex;
            justify-content: center;
            padding-top: 30px;
            button {
                width: 151px;
                height: 44px;
                text-transform: uppercase;
                color: #ffffff;
                font-size: 14px;
                background-color: transparent;
                border: 2px solid #ffffff;
                border-radius: 3px;
                cursor: pointer;
            }
        }
    }
    .services {
        padding-top: 86px;
        padding-bottom: 70px;
        .service-item {
            margin-bottom: 95px;
            .service-item-photo-1 {
                background-position: center;
                background-repeat: no-repeat;
                height: 50px;
                margin-bottom: 35px;
            }
            .cogs {
                background-image: url('images-blog(modest)/cogs.png');
            }
            .pencil {
                background-image: url('images-blog(modest)/pencil.png');
            }
            .mobile {
                background-image: url('images-blog(modest)//mobile.png');
            }
            .clock {
                background-image: url('images-blog(modest)/clock.png');
            }
            .service-item-title {
                text-align: center;
                margin-bottom: 25px;
                font-size: 17px;
                color: #292f36;
                text-transform: uppercase;
            }
            .service-item-paragraph {
                text-align: center;
                color: #8d8f92;
            }
        }
    }
    .features {
        background-color: #3a454d;
        padding-top: 92px;
        padding-bottom: 123px;
        .title {
            color: #ffffff;
            h2 {
                border-left: 10px solid #4e5a62;
            }
        }
        .post-item {
            max-width: 100%;
            .post-item-photo {
                margin-bottom: 53px;
                display: flex;
                justify-content: center;
                img {
                    max-width: 100%;
                }
            }
            .description {
                max-width: 100%;
                .post-item-title {
                    font-size: 18px;
                    color: #ffffff;
                    text-transform: uppercase;
                    margin-bottom: 30px;
                }
                .post-item-paragraph {
                    font-size: 16px;
                    color: #dcdfe1;
                }
            }
        }
    }
    h2 {
        border-left: solid 10px #e1e6ea;
        padding-left: 15px;
    }
}

/* tablet => sm */

@media (min-width: 768px) {
    .container {
        max-width: 720px;
        .col-sm-1 {
            flex: 0 0 8.33333%;
            max-width: 8.33333%;
        }
        .col-sm-2 {
            flex: 0 0 16.66667%;
            max-width: 16.66667%;
        }
        .col-sm-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }
        .col-sm-4 {
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
        }
        .col-sm-5 {
            flex: 0 0 41.66667%;
            max-width: 41.66667%;
        }
        .col-sm-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .col-sm-7 {
            flex: 0 0 58.33333%;
            max-width: 58.33333%;
        }
        .col-sm-8 {
            flex: 0 0 66.66667%;
            max-width: 66.66667%;
        }
        .col-sm-9 {
            flex: 0 0 75%;
            max-width: 75%;
        }
        .col-sm-10 {
            flex: 0 0 83.33333%;
            max-width: 83.33333%;
        }
        .col-sm-11 {
            flex: 0 0 91.66667%;
            max-width: 91.66667%;
        }
        .col-sm-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

/* laptop => md */

@media (min-width: 992px) {
   
        .container {
            max-width: 960px;
            .col-md-1 {
                flex: 0 0 8.33333%;
                max-width: 8.33333%;
            }
            .col-md-2 {
                flex: 0 0 16.66667%;
                max-width: 16.66667%;
            }
            .col-md-3 {
                flex: 0 0 25%;
                max-width: 25%;
            }
            .col-md-4 {
                flex: 0 0 33.33333%;
                max-width: 33.33333%;
            }
            .col-md-5 {
                flex: 0 0 41.66667%;
                max-width: 41.66667%;
            }
            .col-md-6 {
                flex: 0 0 50%;
                max-width: 50%;
            }
            .col-md-7 {
                flex: 0 0 58.33333%;
                max-width: 58.33333%;
            }
            .col-md-8 {
                flex: 0 0 66.66667%;
                max-width: 66.66667%;
               
            }
            .col-md-9 {
                flex: 0 0 75%;
                max-width: 75%;
            }
            .col-md-10 {
                flex: 0 0 83.33333%;
                max-width: 83.33333%;
            }
            .col-md-11 {
                flex: 0 0 91.66667%;
                max-width: 91.66667%;
            }
            .col-md-12 {
                flex: 0 0 100%;
                max-width: 100%;
            }  
        }
        li {
            width: 14.285714%;
        }
    }



/* desktop => lg */

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
        .col-lg-1 {
            flex: 0 0 8.33333%;
            max-width: 8.33333%;
        }
        .col-lg-2 {
            flex: 0 0 16.66667%;
            max-width: 16.66667%;
        }
        .col-lg-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }
        .col-lg-4 {
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
        }
        .col-lg-5 {
            flex: 0 0 41.66667%;
            max-width: 41.66667%;
        }
        .col-lg-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .col-lg-7 {
            flex: 0 0 58.33333%;
            max-width: 58.33333%;
        }
        .col-lg-8 {
            flex: 0 0 66.66667%;
            max-width: 66.66667%;
        }
        .col-lg-9 {
            flex: 0 0 75%;
            max-width: 75%;
        }
        .col-lg-10 {
            flex: 0 0 83.33333%;
            max-width: 83.33333%;
        }
        .col-lg-11 {
            flex: 0 0 91.66667%;
            max-width: 91.66667%;
        }
        .col-lg-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

/* only mobile <767px */

@media (max-width: 767px) {
    .container {
        .col-xs-1 {
            flex: 0 0 8.33333%;
            max-width: 8.33333%;
        }
        .col-xs-2 {
            flex: 0 0 16.66667%;
            max-width: 16.66667%;
        }
        .col-xs-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }
        .col-xs-4 {
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
        }
        .col-xs-5 {
            flex: 0 0 41.66667%;
            max-width: 41.66667%;
        }
        .col-xs-6 {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .col-xs-7 {
            flex: 0 0 58.33333%;
            max-width: 58.33333%;
        }
        .col-xs-8 {
            flex: 0 0 66.66667%;
            max-width: 66.66667%;
        }
        .col-xs-9 {
            flex: 0 0 75%;
            max-width: 75%;
        }
        .col-xs-10 {
            flex: 0 0 83.33333%;
            max-width: 83.33333%;
        }
        .col-xs-11 {
            flex: 0 0 91.66667%;
            max-width: 91.66667%;
        }
        .col-xs-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }
        [class*="col-"] {
            margin-bottom: 20px;
         }  
        .logo {
            display: flex;
            justify-content: center;
        }
        nav {
            overflow-x: scroll;
        }
        
        .hidden-xs {
            display: none;
        }
        
    }
    .about-company {
        .social-links {
            justify-content: center;
        }
    }
    .work {
        .portfolio-item {
            .portfolio-item-1 {
                display: flex;
                justify-content: center;
            }
            
        }
        .title-photo {
            min-width: 290px;
            margin: 0 auto;
        }
    }
    .features {
        .description {
            min-width: 290px;
            margin: 0 auto;
        }
    }
    .team-members {
        .employee {
            width: 263px;
        }
    }
}
@media (min-width: 460px) {
    .menu {
        justify-content: center;
    }
}

@media (min-width: 390px) {
    .work {
        .title-photo {
            width: 360px;
        }
    }
    .features {
        .description {
            width: 360px;
        }
    }
}