@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quattrocento+Sans:wght@700&display=swap");
@import url("./_variables.scss");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.row [class*=col-] {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  background-color: #1d2126;
  padding: 25px 0px;
  position: sticky;
  top: 0;
  z-index: 20;
}
.header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
}
.header .menu li {
  border-radius: 2px;
  margin-left: 11px;
  text-transform: uppercase;
}
.header .menu li:first-child {
  margin-left: 0;
}
.header .menu li:hover {
  border: 2px solid #5b6168;
  display: inline;
}
.header .menu li a {
  text-align: center;
  display: block;
  line-height: 30px;
  text-decoration: none;
  color: #a4aead;
}
.header .header-form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #3c4147;
  border-radius: 2px;
  height: 30px;
  padding: 5px;
}
.header .header-form-search input {
  background-color: transparent;
  border: none;
  width: 76.3158%;
  margin-right: 10px;
  padding: 0;
}
.header .header-form-search input::-webkit-input-placeholder {
  color: #a4aead;
  text-transform: uppercase;
}
.header .header-form-search input::-moz-placeholder {
  color: #a4aead;
  text-transform: uppercase;
}
.header .header-form-search input:-ms-input-placeholder {
  color: #a4aead;
  text-transform: uppercase;
}
.header .header-form-search input::-ms-input-placeholder {
  color: #a4aead;
  text-transform: uppercase;
}
.header .header-form-search input::placeholder {
  color: #a4aead;
  text-transform: uppercase;
}
.header .header-form-search input:focus {
  outline: none;
  color: #a4aead;
}
.header .header-form-search button {
  background-image: url("images-blog(modest)/magnifying-glass.png");
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 15px;
  height: 12px;
  margin-top: 2px;
  margin-left: -5px;
  cursor: pointer;
}

.main {
  font-family: "Quattrocento Sans", sans-serif;
}
.main .banner {
  background-image: url("images-blog(modest)/slider.png");
  background-repeat: no-repeat;
}
.main .banner .content {
  padding-top: 225px;
  padding-bottom: 250px;
}
.main .banner .content .title {
  margin-bottom: 33px;
  color: #ffffff;
}
.main .banner .content .paragraph {
  color: #ccd0d7;
  margin-bottom: 40px;
}
.main .banner .content button {
  color: #ffffff;
  font-size: 14px;
  width: 120px;
  height: 40px;
  border-radius: 3px;
  background-color: rgba(222, 180, 180, 0);
  border: 2px solid #ffffff;
  cursor: pointer;
}
.main .banner .content button:first-child {
  margin-right: 11px;
}
.main .banner .content button:hover {
  background-color: #23b7a4;
  border: 2px solid #23b7a4;
}
.main .title {
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 65px;
}
.main p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.main .about-company {
  padding-top: 86px;
  padding-bottom: 100px;
  border-bottom: 1px solid #dde1e4;
}
.main .about-company .content .title {
  color: #292f36;
}
.main .about-company .content .paragraph {
  color: #8d8f92;
}
.main .about-company .content .paragraph p:last-child {
  margin-top: 40px;
  margin-bottom: 50px;
}
.main .about-company .content .paragraph span {
  font-weight: 600;
}
.main .about-company .content .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main .about-company .content .social-links .link {
  margin-right: 1px;
}
.main .about-company .content .social-links .link div {
  background-color: #c8cdd0;
  width: 60px;
  height: 60px;
}
.main .about-company .content .social-links .link div:hover {
  background-color: rgba(200, 205, 208, 0.8235294118);
}
.main .about-company .content .social-links .link .facebook {
  background-image: url("images-blog(modest)/facebook.png");
  background-position: center;
  background-repeat: no-repeat;
}
.main .about-company .content .social-links .link .twitter {
  background-image: url("images-blog(modest)/twitter.png");
  background-position: center;
  background-repeat: no-repeat;
}
.main .about-company .content .social-links .link .google {
  background-image: url("images-blog(modest)/google.png");
  background-position: center;
  background-repeat: no-repeat;
}
.main .about-company .content .social-links .link .dribbble {
  background-image: url("images-blog(modest)/dribbble.png");
  background-position: center;
  background-repeat: no-repeat;
}
.main .about-company .content .social-links .link .behance {
  background-image: url("images-blog(modest)/behance.png");
  background-position: center;
  background-repeat: no-repeat;
}
.main .about-company .content .numbers {
  margin-top: 105px;
}
.main .about-company .content .numbers div {
  width: 50px;
  height: 50px;
  background-color: #23b7a4;
  line-height: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.main .about-company .content .cnt {
  margin-top: 103px;
}
.main .about-company .content .cnt .cnt-1 {
  margin-bottom: 25px;
}
.main .about-company .content .cnt .cnt-1 h3 {
  margin-bottom: 17px;
  text-transform: uppercase;
  color: #292f36;
}
.main .about-company .content .cnt .cnt-1 p {
  color: #989a9d;
}
.main .about-company .content .row {
  margin-bottom: -90px;
}
.main .team-members {
  padding-top: 86px;
  padding-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main .team-members .team-representative:hover .employee {
  background-color: #3a454d;
}
.main .team-members .team-representative:hover .employee > div {
  color: #ffffff;
}
.main .team-members .team-representative:hover .photo {
  opacity: 80%;
}
.main .team-members .team-representative:hover .social-links > .link {
  display: block;
  margin-top: -51px;
}
.main .team-members .team-representative .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .team-members .team-representative .employee {
  background-color: #e1e6ea;
  max-width: 263px;
  height: 74px;
  padding: 20px 0px 20px 20px;
  margin: 0 auto;
}
.main .team-members .team-representative .employee .name {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 16px;
  color: #292f36;
}
.main .team-members .team-representative .employee .position {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #8d8f92;
}
.main .team-members .team-representative .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main .team-members .team-representative .social-links .link {
  margin-right: 1px;
  position: relative;
  top: 175px;
  z-index: 10;
  display: none;
}
.main .team-members .team-representative .social-links .link div {
  background-color: #3a454d;
  z-index: 20;
  display: block;
  width: 50px;
  height: 50px;
}
.main .team-members .team-representative .social-links .link div:hover {
  background-color: #4e5a62;
}
.main .team-members .team-representative .social-links .link .twitter {
  background-image: url("images-blog(modest)/twitter.png");
}
.main .team-members .team-representative .social-links .link .facebook {
  background-image: url("images-blog(modest)/facebook.png");
}
.main .team-members .team-representative .social-links .link .linkedin {
  background-image: url("images-blog(modest)/linkedin.png");
}
.main .work {
  background-color: #3a454d;
  padding-top: 86px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main .work .title {
  color: #ffffff;
}
.main .work .portfolio-item {
  height: 265px;
  margin-bottom: 30px;
  cursor: pointer;
}
.main .work .portfolio-item .portfolio-item-1 img {
  max-width: 100%;
}
.main .work .portfolio-item:hover .portfolio-item-1 {
  opacity: 70%;
}
.main .work .portfolio-item:hover .plus {
  display: block;
}
.main .work .portfolio-item:hover .title-photo {
  display: block;
}
.main .work .portfolio-item:hover {
  margin-top: -20px;
}
.main .work .portfolio-item .plus {
  background-image: url("images-blog(modest)/plus.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  position: relative;
  top: 113px;
  z-index: 10;
  display: none;
}
.main .work .portfolio-item .title-photo {
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  max-width: 100%;
  height: 60px;
  background-color: #292f36;
  position: relative;
  top: -60px;
  display: none;
}
.main .work .portfolio-item .title-photo h3 {
  padding-top: 25px;
  padding-left: 20px;
}
.main .work .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}
.main .work .btn button {
  width: 151px;
  height: 44px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
  cursor: pointer;
}
.main .services {
  padding-top: 86px;
  padding-bottom: 70px;
}
.main .services .service-item {
  margin-bottom: 95px;
}
.main .services .service-item .service-item-photo-1 {
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
  margin-bottom: 35px;
}
.main .services .service-item .cogs {
  background-image: url("images-blog(modest)/cogs.png");
}
.main .services .service-item .pencil {
  background-image: url("images-blog(modest)/pencil.png");
}
.main .services .service-item .mobile {
  background-image: url("images-blog(modest)//mobile.png");
}
.main .services .service-item .clock {
  background-image: url("images-blog(modest)/clock.png");
}
.main .services .service-item .service-item-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 17px;
  color: #292f36;
  text-transform: uppercase;
}
.main .services .service-item .service-item-paragraph {
  text-align: center;
  color: #8d8f92;
}

/* tablet => sm */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .container .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .container .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .container .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .container .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .container .col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .container .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .container .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .container .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .container .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .container .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .container .col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .container .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
/* laptop => md */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .container .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .container .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .container .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .container .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .container .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .container .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .container .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .container .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .container .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .container .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .container .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .container .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  li {
    width: 14.285714%;
  }
}
/* desktop => lg */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .container .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .container .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .container .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .container .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .container .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .container .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .container .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .container .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .container .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .container .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .container .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .container .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
/* only mobile <767px */
@media (max-width: 767px) {
  .container .col-xs-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .container .col-xs-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .container .col-xs-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .container .col-xs-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .container .col-xs-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .container .col-xs-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .container .col-xs-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .container .col-xs-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .container .col-xs-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .container .col-xs-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .container .col-xs-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .container .col-xs-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .container .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container nav {
    overflow-x: scroll;
  }
  .container .hidden-xs {
    display: none;
  }
  .about-company .social-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work .portfolio-item .portfolio-item-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work .title-photo {
    min-width: 290px;
    margin: 0 auto;
  }
}
@media (min-width: 460px) {
  .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 390px) {
  .work .title-photo {
    width: 360px;
  }
}/*# sourceMappingURL=style.css.map */