@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Quattrocento+Sans:wght@700&display=swap");
@import url("./_variables.scss");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.header {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  background-color: #1d2126;
  padding: 26px 0px 25px 0px;
}
.header .container {
  max-width: 1170px;
  margin: 0 auto;
}
.header .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container .row .col-md-3 {
  width: 25%;
}
.header .container .row .col-md-3 .logo {
  padding-left: 15px;
}
.header .container .row .col-md-7 {
  width: 58.333333%;
}
.header .container .row .col-md-7 .menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}
.header .container .row .col-md-7 .menu li {
  color: #a4aead;
  border-radius: 2px;
  margin-left: 11px;
  padding: 8px 10px;
  text-transform: uppercase;
  width: 14, 285714%;
}
.header .container .row .col-md-7 .menu li:first-child {
  border: 2px solid #23b7a3;
  color: #23b7a3;
  margin-left: 0;
}
.header .container .row .col-md-7 .menu li:hover {
  border: 2px solid #5b6168;
  cursor: pointer;
}
.header .container .row .col-md-7 .menu li:first-child:hover {
  border: 2px solid #23b7a3;
  color: #23b7a3;
}
.header .container .row .col-md-7 .menu li a {
  text-align: center;
  display: block;
  height: 30px;
  line-height: 30px;
}
.header .container .row .col-md-2 {
  width: 16.6666667%;
}
.header .container .row .col-md-2 .header-form-search {
  border: 2px solid #3c4147;
  border-radius: 2px;
  height: 30px;
}
.header .container .row .col-md-2 .header-form-search input {
  background-color: transparent;
  border: none;
  width: 138px;
  margin-left: 8px;
  margin-right: 5px;
  padding: 0;
}
.header .container .row .col-md-2 .header-form-search input::-webkit-input-placeholder {
  color: #a4aead;
  text-transform: uppercase;
}
.header .container .row .col-md-2 .header-form-search input::-moz-placeholder {
  color: #a4aead;
  text-transform: uppercase;
}
.header .container .row .col-md-2 .header-form-search input:-ms-input-placeholder {
  color: #a4aead;
  text-transform: uppercase;
}
.header .container .row .col-md-2 .header-form-search input::-ms-input-placeholder {
  color: #a4aead;
  text-transform: uppercase;
}
.header .container .row .col-md-2 .header-form-search input::placeholder {
  color: #a4aead;
  text-transform: uppercase;
}
.header .container .row .col-md-2 .header-form-search input:focus {
  outline: none;
  color: #a4aead;
}
.header .container .row .col-md-2 .header-form-search button {
  background-image: url("images-blog(modest)/magnifying-glass.png");
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 15px;
  height: 12px;
  padding: 0;
  margin-top: 7px;
  cursor: pointer;
}

@media (max-width: 767px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container {
    width: 767px;
  }
  .container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .row .col-md-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .row .col-md-7 {
    overflow-x: scroll;
  }
  .container .row .col-md-2 {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */